<li id="post-<%= post._id %>">
	<p>
		<% if (locals.user ) { %>
			<small>
				<po><%= post.likes.length%></po> <a class="like-post-button" id="like-count" href="/likes/toggle/?id=<%= post._id %>&type=Post"><i class="fa-solid fa-thumbs-up"></i></a>
			</small>
		<% } else { %> 
			<small><%= post.likes.length %> <i class="fa-solid fa-thumbs-up"></i></small>	
		<% } %>

		<%= post.content %>
		<% if (locals.user && locals.user.id == post.user.id) { %>
			<small>
				<a class="delete-post-button" href="/posts/destroy/<%= post.id %>">X</a>
			</small>
		<% } %>
		<br>
		<small>~ <%= post.user.name %></small>
		<div class="post-comments">
			<% if (locals.user) { %>
				<form action="/comments/create" method="POST">
					<input type="text" name="content" placeholder="Add your comments here..." required id="comment-box">
					<input type="hidden" name="post" value="<%= post._id %>">
					<input type="submit" value="Add Comment" id="comment-button">
				</form> 
			<% }  %>

			<div class="post-comments-list">
				<ul id="post-comments-<%= post._id %>">

					<% for (comment of post.comments){ %>
						
						<%- include("_comment") -%>

					<%}%>

				</ul>
			</div>
		</div>
	</p>
	
</li>